.card-body{
    background-color: rgb(104, 101, 101);
    
}
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
    color: white;    
}